@using SharinganSolutions.EntityTresCapas
@model ERespuestaUsuarioSalon

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginUsuarioSalon</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.15.0/font/bootstrap-icons.css" rel="stylesheet">
    <style>
        .table td,
        .table th {
            text-align: justify; /* Ajusta el texto */
            vertical-align: middle !important; /* Centra verticalmente */
        }
    </style>
</head>
<body>
    <div style="text-align:center" class="mt-3">
        <h3>Usuarios del salón</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 text-end">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#usuarioModal">
                    <i class="bi bi-person-add"></i> Usuario
                </button>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Clave</th>
                            <th scope="col">Nombre Usuario</th>
                            <th scope="col">Contraseña</th>
                            <th scope="col">Nombre Salón</th>
                            <th scope="col">Cargo</th>
                            <th scope="col">Activo</th>
                            <th scope="col">Actualizar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in @Model.listUsuarioSalon)
                        {
                            <tr>
                                <td>@item.IdUsuarioSalon</td>
                                <td>@item.NombreUsuario</td>
                                <td>*****</td>
                                <td>@item.NombreSalon</td>
                                <td>@item.Descripcion</td>
                                <td>@item.EsActivo</td>
                                <td>
                                    <a href="#" class="btn btn-warning btn-link-actualiza" data-userid="@item.IdUsuarioSalon">
                                        <i class="bi bi-pencil"></i> Actualizar
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="usuarioModal" tabindex="-1" aria-labelledby="usuarioModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="usuarioModalLabel">Agregar Usuario</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("postUsuarioSalon", "Login", FormMethod.Post))
                    {
                        <div class="form-group">
                            <label for="NombreUsuario">Nombre Usuario:</label>
                            <input type="text" class="form-control" id="NombreUsuario" name="NombreUsuario" placeholder="Nombre Usuario" required>
                        </div>
                        <label for="salonSelect">Salón:</label>
                        <select class="form-select" id="salonSelect" name="IdSalon" aria-label="Default select example" required>
                            <option selected>Selecciona un salón</option>
                            @foreach (var item in @Model.listSalon)
                            {
                                <option value="@item.IdSalon">@item.NombreSalon</option>
                            }
                        </select>
                        <label for="Cargo">Cargo:</label>
                        <select class="form-select" id="Cargo" name="IdTipoUsuario" aria-label="Default select example" required>
                            <option selected>Selecciona Cargo</option>
                            @foreach (var item in @Model.ListCargo)
                            {
                                <option value="@item.IdTipoUsuario">@item.Descripcion</option>
                            }
                        </select>
                        <div class="form-group">
                            <label for="Contraseña">Password:</label>
                            <input type="password" class="form-control" id="Contraseña" name="Contraseña" placeholder="Password" required>
                        </div>
                        <div>
                            <input type="checkbox" id="EsActivo" name="EsActivo" value="true">
                            <label for="EsActivo">Activo</label>
                        </div>
                        <button type="submit" id="btnAgregar" class="btn btn-primary" disabled>Agregar</button>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="actualizarModal" tabindex="-1" aria-labelledby="actualizarModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Actualizar Usuario</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("putUsuarioSalon", "Login", FormMethod.Post))
                    {
                        @Html.Hidden("IdUsuarioSalon")
                        <div class="form-group">
                            <label for="NombreUsuario">Nombre Usuario:</label>
                            <input type="text" class="form-control" id="NombreUsuarioUp" name="NombreUsuario" required>
                        </div>
                        <label for="salonUp">Salón:</label>
                        <select class="form-select" id="salonUp" name="IdSalon" aria-label="Default select example" required>
                            <option selected>Selecciona un salón</option>
                            @foreach (var l in @Model.listSalon)
                            {
                                <option value="@l.IdSalon" )>@l.NombreSalon</option>
                            }
                        </select>
                        <label for="Cargo">Cargo:</label>
                        <select class="form-select" id="CargoUp" name="IdTipoUsuario" aria-label="Default select example" required>
                            <option selected>Selecciona Cargo</option>
                            @foreach (var c in @Model.ListCargo)
                            {
                                <option value="@c.IdTipoUsuario">@c.Descripcion</option>
                            }
                        </select>
                        <div class="form-group">
                            <label for="Contraseña">Password</label>
                            <input type="password" class="form-control" id="ContraseñaUp" name="Contraseña" placeholder="Password" required>
                        </div>
                        <div>
                            <input type="checkbox" id="EsActivoUp" name="EsActivo" value="true">
                            <label for="EsActivo">Activo</label>
                        </div>
                        <button id="btnActualizar" type="submit" class="btn btn-primary" disabled>Actualizar</button>
                    }
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


    <script>
        $(document).ready(function () {
            $('.btn-link-actualiza').on('click', function () {
                var userId = $(this).data('userid');
                cargarDatosUsuario(userId);
            });

            $('#NombreUsuarioUp, #salonUp, #CargoUp, #ContraseñaUp').on('input', Validacionactualizar);

            $('#actualizarModal').on('shown.bs.modal', Validacionactualizar);

            $('#NombreUsuario, #salonSelect, #Cargo, #Contraseña').on('input', ValidacionAgregar);

            $('#usuarioModal').on('shown.bs.modal', ValidacionAgregar);
        });

        function cargarDatosUsuario(userId) {
            console.log('Función cargarDatosUsuario llamada con userId:', userId);
            $.ajax({
                url: '/Login/getUsuarioSalonDetalle',
                type: 'GET',
                data: { id: userId },
                success: function (data) {
                    $('#NombreUsuarioUp').val(data.NombreUsuario);
                    $('#salonUp').val(data.IdSalon);
                    $('#CargoUp').val(data.IdTipoUsuario);
                    $('#ContraseñaUp').val(data.Contraseña);
                    $('#EsActivoUp').prop('checked', data.EsActivo);
                    $('#IdUsuarioSalon').val(data.IdUsuarioSalon);
                    $('#actualizarModal').modal('show');
                },
                error: function () {
                    // Manejar errores si es necesario
                    console.log('Error al obtener datos del usuario.');
                }
            });
        }

        function Validacionactualizar() {
            var formCompleto = $('#NombreUsuarioUp').val().trim() !== '' &&
                $('#salonUp').val().trim() !== '' &&
                $('#CargoUp').val().trim() !== '' &&
                $('#ContraseñaUp').val().trim() !== '';

            $('#btnActualizar').prop('disabled', !formCompleto);
        }
        function ValidacionAgregar() {
            var formCompleto = $('#NombreUsuario').val().trim() !== '' &&
                $('#salonSelect').val().trim() !== '' &&
                $('#Cargo').val().trim() !== '' &&
                $('#Contraseña').val().trim() !== '';

            $('#btnAgregar').prop('disabled', !formCompleto);
        }
    </script>
</body>
</html>
